<h1>📅 School Activities</h1>
<form method="POST" action="/activities">
  <label>Opening Date: <input type="date" name="opening_date" value="<%= activities.opening_date %>" /></label><br>
  <label>Closing Date: <input type="date" name="closing_date" value="<%= activities.closing_date %>" /></label><br>
  <label>Parents Meeting: <input type="date" name="parents_meeting" value="<%= activities.parents_meeting %>" /></label><br>
  <label>School Trip: <input type="date" name="school_trip" value="<%= activities.school_trip %>" /></label><br>
  <label>Exams Start: <input type="date" name="exams_start" value="<%= activities.exams_start %>" /></label><br>
  <button type="submit">Save Activities</button>
</form>
<a href="/">⬅ Back</a>

